{{ form_start(form, {'attr': {'id': 'payment-form'}}) }}
{% do form.hideAmount.setRendered %}
{% do form.hideIdentity.setRendered %}


<div class="input-field col s12 l2">
    {{ form_label(form.amount, 'Montant') }}
    {{ form_widget(form.amount) }}


</div>

<div class="input-field col s12 l9">
    {{ form_label(form.participant.name, 'Votre nom') }}
    {{ form_widget(form.participant.name) }}

</div>

<div class="input-field col s12 l7">
    {{ form_label(form.participant.email, 'Votre email') }}
    {{ form_widget(form.participant.email) }}

</div>

<p>
    <label>
        <input name="payment[hideIdentity]" type="checkbox" value='1'>
        <span>Masquer mon identité auprès des autres participants</span>
    </label>
</p>
<p>
    <label>
        <input name="payment[hideAmount]" type="checkbox" value='1'>
        <span>Masquer le montant de ma participation auprès des autres participants</span>
    </label>
</p>
<br>

    <div class="form-row">
        <label for="card-element">
            Carte de crédit : <br>
        </label>
        <div
            id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
    </div>


    <div class="input-field col s10 l6">
        <a class="btn btn-large waves-effect waves-light grey col s12" href="{{ path('campaign_show', {id: campaign.id}) }}">Annuler</a>
    </div>
    <div class="input-field col s10 l6">
        <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" name="action" type="submit">
            Participer
            <i class="material-icons right">euro_symbol</i>
        </button>
    </div>


  
  {{ form_end(form)}}